/* Variables */
$blue: #54A5C3;
$green: #9ABB29;
$orange: #FF9800;

.home {
	color: $blue;
	margin: 12px;
}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

		.auth-btn {
			min-width: 90px
		}

		.user-info {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
